/* public-sans-100 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
  url('../fonts/public-sans-v4-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/public-sans-v4-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-regular - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
  url('../fonts/public-sans-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/public-sans-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-500 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
  url('../fonts/public-sans-v4-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/public-sans-v4-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-600 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
  url('../fonts/public-sans-v4-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/public-sans-v4-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-700 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
  url('../fonts/public-sans-v4-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/public-sans-v4-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
body{
  margin-top: 85px;
}
.site-header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 50;
  background-color: white;
}
.site{
  display: flex;
  align-items: center;
}
.site-nav {
  margin-left: auto ;
  margin-right: 226px;
}

.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;

}

.site-menu-link {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #9597A5;
  margin-right: 30px;
  padding: 32px 0px 32px 0px;
}
.site-menu-link:hover::after{
  display: block;
}
.site-menu-link::after{
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 3px;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);}
  .site-menu-link:hover{
    color: #222;
  }
  .site-top-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 8px 36px;
    line-height: 28px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    color: white;
  }
  .site-top-link:hover{
    opacity: 0.7;
  }
  .section {
    padding: 170px 0px 190px 0px;
  }
  .section{
    background-image: url("../img/bgrimg.png");
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left calc(50% + 400px) bottom 150px;
  }
  .bank-box{
    position: relative;
    display: flex;
    align-items: center;

  }
  .bank-img{
    position: absolute;
    right: -320px;
  }
  .bank {
    width: 447px;
  }
  .bank-header {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    color: #2D314D;
    margin-bottom: 24px;
  }
  .bank-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #9597A5;
    margin-bottom: 36px;
  }
  .feature{
    padding: 76px 0px 113px 0px;
    background: #F4F5F7;
  }
  .easy-bank{
    width: 635px;
    margin-bottom: 72px;
  }
  .easy-bank-information {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .bank-heading {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    color: #2D314D;
  }
  .easy-bank-text {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #9597A5;
  }
  .easy-bank-info-item {
    width: 255px;
  }
  .easy-bank-info-item:not(:last-child){
    margin-right: 30px;
  }
  .easy-bank-info-item::before{
    display: block;
    content: "";
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-repeat: contain;
    background-position: left center;
    margin-bottom: 40px;
  }
  .online::before{
    background-image: url("../img/online.png");
  }
  .budgeting::before{
    background-image: url("../img/budget.png");
  }
  .onboarding::before{
    background-image: url("../img/onboard.png");
  }
  .API::before{
    background-image: url("../img/API.png");
  }
  .easy-bank-item-heading {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    color: #2D314D;
    margin-bottom: 26px;
  }
  .easy-bank-item-text {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #9597A5;
  }
  .section-two{
    padding: 60px 0px 80px 0px;
    background: #faf2f2;

  }
  .part-articles-heading{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    color: #2D314D;
    margin-bottom: 40px;
  }
  .menu-articles {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .menu-articles-item {
    width: 255px;
    background: #FFFFFF;
    border-radius: 5px;
  }
  .articles-item-heading:hover{
    color: #30C88F;
  }
  .menu-articles-item:not(:last-child){
    margin-right: 30px;
  }
  .menu-articles-item::before{
    display: block;
    content: "";
    width:  255px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center ;
    border-radius: 5px 5px 0px 0px;
  }
  .item::before{
    background-image: url("../img/articles-img.png");
  }
  .item-two::before{
    background-image: url("../img/articles-img2.png");
  }
  .item-thre::before{
    background-image: url("../img/articles-img3.png");
  }
  .item-four::before{
    background-image: url("../img/articles-img4.png");
  }
  .articles-item-box{
    padding: 25px 24px 24px 24px;
  }
  .articles-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    color: #9597A5;
  }
  .articles-item-heading {
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    color: #2D314D;
    cursor: pointer;
  }
  .articles-item-text-two {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #9597A5;
  }
  .site-footer{
    padding: 48px 0px 48px 0px;
    background: #2D314D;
  }
  .footer-box{
    display: flex;
    align-items: center;
  }
  .footer-social{
    margin-right: 131px;
  }
  .social-link{
    display: inline-block;
    vertical-align: baseline;
  }

   .site-footer-logo{
    margin-bottom: 55px;
  }
  .social-link:not(:last-child){
    margin-right: 13px;
  }
  .footer-menu{
    width: 160px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .footer-menu:not(:last-child){
    margin-right: 30px;
  }
  .footer-menu-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-menu-item:hover .footer-menu-link{
    color: #30C88F;
  }
  .footer-menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
  }
  .request-box{
    margin-left: auto;
    text-align: end;
  }
  .footer-request{
    margin-bottom: 24px;
  }
    .request-text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.5;
  }
