/* public-sans-100 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
       url('../fonts/public-sans-v4-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/public-sans-v4-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-regular - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
       url('../fonts/public-sans-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/public-sans-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-500 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
       url('../fonts/public-sans-v4-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/public-sans-v4-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-600 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
       url('../fonts/public-sans-v4-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/public-sans-v4-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-700 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
       url('../fonts/public-sans-v4-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/public-sans-v4-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
body{
  margin-top: 85px;
}
.site-header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}
 .site{
  display: flex;
  align-items: center;
}
.site-nav {
margin-left: auto ;
margin-right: 226px;
}

.site-menu {
margin: 0;
padding: 0;
list-style-type: none;
display: flex;

  }

.site-menu-link {
  position: relative;
  display: block;
text-decoration: none;
font-size: 14px;
color: #9597A5;
margin-right: 30px;
padding: 32px 0px 32px 0px;
}
.site-menu-link:hover::after{
  display: block;
}
.site-menu-link::after{
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 3px;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);}
.site-menu-link:hover{
  color: #222;
}
.site-top-link {
 text-decoration: none;
 font-weight: 500;
 font-size: 14px;
 display: inline-block;
 vertical-align: baseline;
 padding: 8px 36px;
 line-height: 28px;
background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
border-radius: 22px;
color: white;
}
.site-top-link:hover{
  opacity: 0.7;
}
.section {
  padding: 170px 0px 170px 0px;
}
.cintainer {
}
.bank {
  width: 447px;
}
.bank-header {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  color: #2D314D;
}
.bank-test {
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color: #9597A5;
}
.bank-link {
  text-decoration: none;
  display: inline-flex;
  vertical-align: baseline;
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
  padding: 8px 36px;
  color: #FFFFFF;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
border-radius: 22px;
}